.trainList {
    width: 600px;
    min-height: 400px;
    border: 1px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 16px;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
  }
